<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Grade</mat-label>
    <input matInput required formControlName="grade" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput required formControlName="description" />
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]>Cancel</button>
    <button mat-raised-button [disabled]="!formGroup.valid" color="primary" [mat-dialog-close]="formGroup.value">
      Submit
    </button>
  </div>
</form>
