<h1>{{ editMode ? 'Edit subject' : 'Create subject' }}</h1>

<form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput required formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput required formControlName="description" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Students</mat-label>
    <mat-select multiple required formControlName="students">
      <mat-option *ngFor="let student of studentsOptions" [value]="student.username">
        {{ student.name }} {{ student.surname }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]>Cancel</button>
    <button mat-raised-button [disabled]="!formGroup.valid" color="primary" [mat-dialog-close]="formGroup.value">
      {{ editMode ? 'Edit' : 'Create' }}
    </button>
  </div>
</form>
