<mat-card [ngClass]="{ removed: grade.removed }">
  <mat-card-title>
    {{ grade.grade }}
    <ng-container *ngIf="grade.removed">(Removed)</ng-container>
    <button *ngIf="showActions" [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>{{ grade.description }}</mat-card-subtitle>
  <mat-card-content>
    <span *ngIf="(authService.getUser$() | async)?.role === 'student'"
      >Issued by: {{ (identityService.getFullUsernameDictionary(grade.issuer) | async)?.get(grade.issuer) }}</span
    >
    <span>Last updated: {{ grade.updatedAt | date }}</span>
    <span>Created: {{ grade.createdAt | date }}</span>
  </mat-card-content>
</mat-card>

<mat-menu #menu>
  <button [routerLink]="['/grades/', grade.ID, 'history']" mat-menu-item><mat-icon>history</mat-icon> History</button>
  <ng-container *ngIf="(authService.getUser$() | async)?.role === 'teacher'">
    <button (click)="onModifyClicked()" mat-menu-item><mat-icon>settings</mat-icon> Edit</button>
    <button (click)="onRemoveClicked()" *ngIf="!grade.removed" mat-menu-item><mat-icon>delete</mat-icon> Remove</button>
  </ng-container>
</mat-menu>
