<mat-card>
  <mat-card-title>{{ grade.grade }}</mat-card-title>
  <mat-card-subtitle>{{ grade.description }}</mat-card-subtitle>
  <mat-card-content>
    <span>Last updated: {{ grade.updatedAt | date }}</span>
    <span>Created: {{ grade.createdAt | date }}</span>
  </mat-card-content>

  <mat-card-footer *ngIf="showActions">
    <div class="buttons-wrapper">
      <button mat-button [routerLink]="['/grades/', grade.ID, 'history']"><mat-icon>history</mat-icon> History</button>
      <button (click)="onModifyClicked($event)" *ngIf="(authService.getUser$() | async)?.role === 'teacher'" mat-button>
        <mat-icon>settings</mat-icon> Change
      </button>
    </div>
  </mat-card-footer>
</mat-card>
