@import 'src/styles/variables';

mat-card {
  background-color: $primary;
  color: white;

  mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  mat-card-subtitle {
    color: white;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
  }
}
