<mat-card [ngClass]="{ removed: subject.removed }">
  <mat-card-title>
    {{ subject.name }}
    <ng-container *ngIf="subject.removed">(Removed)</ng-container>
    <button (click)="onMenuClicked($event)" *ngIf="showActions" [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>{{ subject.description }}</mat-card-subtitle>
  <mat-card-content>
    participants: {{ subject.students.length }}
    <span *ngIf="(authService.getUser$() | async)?.role === 'student'"
      >Leader: {{ (identityService.getFullUsernameDictionary(subject.leader) | async)?.get(subject.leader) }}</span
    >
    <span>Last updated: {{ subject.updatedAt | date }}</span>
    <span>Created: {{ subject.createdAt | date }}</span>
  </mat-card-content>
</mat-card>

<mat-menu #menu>
  <button [routerLink]="['/subjects/', subject.ID, 'history']" mat-menu-item>
    <mat-icon>history</mat-icon> History
  </button>
  <ng-container *ngIf="(authService.getUser$() | async)?.role === 'teacher'">
    <button (click)="onModifyClicked()" mat-menu-item><mat-icon>settings</mat-icon> Edit</button>
    <button (click)="onRemoveClicked()" *ngIf="!subject.removed" mat-menu-item>
      <mat-icon>delete</mat-icon> Remove
    </button>
  </ng-container>
</mat-menu>
