@import 'src/styles/variables';

mat-card {
  background-color: $primary;
  color: white;

  &.removed {
    background-color: gray;
  }

  mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    *:first-child {
      flex-shrink: 1;
    }
  }

  mat-card-subtitle {
    color: white;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
  }

  > * {
    overflow-wrap: anywhere;
  }
}
